pandas
numpy
jupyter
scipy
plotly
python-dotenv
backtesting
yfinance
pytest
pytest-cov
poethepoet
scikit-learn
statsmodels
ruff
pre-commit
influxdb-client[extra]
pytest-dotenv
freezegun
prisma
pydantic
beautifulsoup4
pandas-market-calendars
timeout-decorator
pyee
alpaca-py